body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f4f4f4;
}


header {
background: #0a192f;
color: white;
padding: 40px;
text-align: center;
}


section {
padding: 40px;
background: white;
margin: 20px;
border-radius: 8px;
}


.project-card {
background: #eef2f7;
padding: 15px;
margin-top: 10px;
border-left: 4px solid #0a192f;
}


footer {
text-align: center;
padding: 20px;
background: #0a192f;
color: white;
}
